tempCodeRunnerFile.*
__pycache__
.metals
foo
node_modules
package-lock.json
python/io/cache_json_response.json
ansible_test*
*.class
*.kotlin_module
jenkins-cli.jar
temp_test
temp_test*
temp_test.*
*.exe
*.lock
*.retry
.terraform*
terraform.tfstate*
.packages
.dart_tool
build
.gradle
.kotlintest